//- 404 Error Page
extends _layouts/_default
block variables
  -
    //- Page Configuration
    const page_title = "Page not found :("
    const page_description = ""
block content
  p Page Not Found :(