doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title RW Elephant Inventory Gallery
    meta(name="description" content="")
    meta(name="theme-color" content="")
    link(rel="stylesheet" href="/css/main.min.css")
  body.page
    header.page-header
      p Page Header
    main.page-main
      p Page Main
    footer.page-footer
      p Page Footer