//- Home Page
extends _layouts/_rwe-inventory
block variables
  -
    //- Page Configuration
    const page_title = "Our Collection"
    const page_description = ""
block content
  .wrapper
    h1 Our Collection
    //- RWE Inventory Component
    .rwe-inventory