/*-----------------*\
     MAIN STYLES
\*-----------------*/

@charset "utf-8";

/*---------------*\
\*   Variables   *\
\*---------------*/

:root {
  /* Site */
  --site-min-width: 20rem; /* Target 320px */
  --site-max-width: 63rem; /* Target 1008px */

  /* Index */
  --index-deep: -99999;
  --index-default: 1;

  /* Time */
  --transition-default-time: .15s;

  /* Font */
  --font-family-base: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  --font-size-base: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.36rem;
  --font-size-xxl: 1.602rem;
  --font-size-xxxl: 1.945rem;

  --font-weight-regular: 400;
  --font-weight-bold: 600;

  /* Color */
  --color-light-100: #fff;
  --color-dark-100: #000;

  --color-primary: #b47c53;
  --color-primary-dark: #aa754f;
  --color-secondary: #d1aeab;
  --color-secondary-dark: #c99191;
  
  /* Anchors */
  --anchor-color: var( --color-primary );
  --anchor-color-hover: var( --color-primary-dark );

  /* Nav Btn */
  --nav-btn-color: var( --color-primary );
  --nav-btn-color-hover: var( --color-light-100 );
  --nav-btn-bg-color: var( --color-light-100 );
  --nav-btn-bg-color-hover: var( --color-primary );
}


/*------------------*\
\*   Reset Styles   *\
\*------------------*/

/* Box sizing rules */
*,
*::before,
*::after { box-sizing: border-box; }

html {
  /* Prevent font size inflation */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd,
ul, ol, pre { margin-block-end: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-left: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.6;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label { line-height: 1.1; }

/* Balance text wrapping on headings */
h1, h2,
h3, h4 { text-wrap: balance; }

/* A elements get default styles */
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Hard select style reset, remove default arrow, etc… */
select {
  grid-area: select;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1.25em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand { display: none; }

select[multiple] { padding-inline-end: 0; }

select[multiple] option { white-space: normal; }

/* Anything that has been anchored to should have extra scroll margin */
:target { scroll-margin-block: 5ex; }

/* Button reset */
button {
  all: unset;
  text-align: center;
}

button:focus { outline: revert; }


/*-----------------*\
\*   Base Styles   *\
\*-----------------*/

/* Selection */
::selection {
  color: var( --color-light-100 );
  background-color: var( --color-primary );
}

/* Body */
body {
  margin: 0;
  font-size: var( --font-size-base );
  font-weight: var( --font-weight-regular );
	font-family: var( --font-family-base );
	line-height: 1.7;
  color: var( --color-dark-100 );
  background-color: var( --color-light-100 );
}

a {
  color: var( --anchor-color );
  transition: color var( --transition-default-time ) ease-in;
}

a:hover,
a:focus {
  text-decoration: none;
  color: var( --anchor-color-hover );
}

/* General Elements */
p, details, address,
iframe, pre, table, form,
figure, ul, ol, pre { margin-block-start: 1.75rem; }

ul li,
ol li { margin-block-start: .5rem; }

hr {
  margin-block: 2rem;
  border: 0;
  height: var( --border-width );
  background-color: currentColor;
}

/* Headings */
h1, h2,
h3, h4 {
  font-weight: var( --font-weight-bold );
  margin-block-start: 2rem;
}

h1,
:-webkit-any( article, aside, nav, section ) h1 {
  font-size: var( --font-size-xxxl );
	line-height: 1.322;
}

h2 {
  font-size: var( --font-size-xxl );
	line-height: 1.394;
}

h3 {
  font-size: var( --font-size-xl );
	line-height: 1.432;
}

h4 {
  font-size: var( --font-size-l );
	line-height: 1.517;
}

/* Media */
img, video,
svg, iframe {
  display: block;
  width: 100%;
  max-width: 100%;
}

img, video,
svg { height: auto; }


/*------------------*\
\*   Form Styles   *\
\*------------------*/

/* Default */
form,
.form { text-align: start; }

::placeholder { font-style: italic; }


/*-----------------------*\
\*   Navigation Styles   *\
\*-----------------------*/

/* Default */
.nav-menu ul { margin-block-start: 0; }


/*--------------------*\
\*   Utility Styles   *\
\*--------------------*/

/* Wrapper */
.wrapper {
  min-width: var( --site-min-width );
  max-width: var( --site-max-width );
  margin: 0 auto;
  padding-inline: 1.5rem;
}

/* 45rem | 720px */
@media screen and (min-width: 45rem) {

  .wrapper { padding-inline: 2rem; }

}


/*-----------------*\
\*   Page Header   *\
\*-----------------*/

/* Default */
.page-header { padding: 1.8rem 0; }

.page-header .wrapper {
  display: grid;
  grid-template-columns: 120px 36px;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.page-header .logo { display: block; }

/* Nav Button */
.page-header .nav-btn {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: var( --nav-btn-bg-color );
  cursor: pointer;
  transition: all var( --transition-default-time ) ease-in;
}

.page-header .nav-btn svg {
  width: 24px;
  height: 24px;
}

.page-header .nav-btn svg rect { fill: var( --nav-btn-color ); }

.page-header .nav-btn:hover,
.page-header .nav-btn:focus { background-color: var( --nav-btn-bg-color-hover ); }

.page-header .nav-btn:hover svg rect,
.page-header .nav-btn:focus svg rect { fill: var( --nav-btn-color-hover ); }

/* Nav Menu */
.page-header .nav-menu {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.page-header .nav-menu.is_collapsed { display: none; }

.page-header .nav-menu a {
  display: block;
  text-decoration: none;
}

.page-header .nav-menu a:hover,
.page-header .nav-menu a:focus { text-decoration: underline; }

/* 22rem | 352px */
@media screen and (min-width: 22rem) {

  /* Default */
  .page-header .wrapper { grid-template-columns: 140px 36px; }

}

/* 56rem | 832px */
@media screen and (min-width: 52rem) {

  /* Default */
  .page-header .wrapper { grid-template-columns: 140px auto; }

  /* Nav Button */
  .page-header .nav-btn { display: none; }

  /* Nav Menu */
  .page-header .nav-menu,
  .page-header .nav-menu.is_collapsed {
    grid-column-start: 2;
    grid-column-end: 3;
    display: block;
  }

  .page-header .nav-menu ul {
    display: inline-flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .page-header .nav-menu ul li { margin-block-start: 0; }

}


/*-----------------*\
\*   Page Footer   *\
\*-----------------*/

/* Default */
.page-footer { padding: 1.8rem 0; }

.page-footer .copyright {
  margin: 0;
  text-align: center;
}


/*---------------*\
\*   Page Main   *\
\*---------------*/

/* Default */
.page-main h1 { margin-block-start: 0; }


/*-------------------*\
\*   RWE Inventory   *\
\*-------------------*/

/* Default */
.rwe-inventory {
  margin: 1.5rem 0 !important;
  max-width: 100% !important;
}

.rwe-inventory h4,
.rwe-inventory .rwe-list-heading {
  margin-block-end: .5rem;
  font-size: var( --font-size-l );
}

.rwe-inventory pre { margin-block-start: .75rem; }

.rwe-inventory a { text-decoration: none; }

.rwe-inventory .rwe-search__btn,
.rwe-inventory .rwe-view-wishlist-btn,
.rwe-inventory .rwe-detail__wishlist-add,
.rwe-inventory .rwe-detail__wishlist-remove,
.rwe-inventory .rwe-submit-form__btn { font-weight: var( --font-weight-bold ); }